[Unit]
Description=Podman container: %i
Documentation=man:podman-generate-systemd(1)
Wants=network-online.target
After=network-online.target
RequiresMountsFor=/run/user/1000/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStart=/usr/bin/podman start %i
ExecStop=/usr/bin/podman stop -t 10 %i
ExecStopPost=/usr/bin/podman stop -t 10 %i
Type=forking

[Install]
WantedBy=default.target
